a{
    text-decoration: none;
    padding: 10px;
    border: .2px solid gray;
    color: gray;
    border-radius: 5px;
    cursor: pointer;
    transition: .2s ease-in;
}

a:hover{
    background-color: gray;
    color: white;
    border-color: rgb(116, 116, 116);
}

.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
}

p.subtitle{
    width: 100%;
    padding: 0 10px; 
}

.mid-container-items{
    padding: 0 10px;
}

img.image-container{
        width: 180px;
        height: 240px;
        object-fit: cover;  
        float: left;
        margin:0 10px;
}
img.image-container-two {
    float: right;
    margin: 0 10px;


}

.middle-container {
    display: flex;
    flex-direction: column;
}
.mid-container-items p {
    text-align: end;
}


@media only screen and (min-width: 900px){
    .container{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        text-align: center;
        justify-content: center;
    }

    .title {
        width: 400px;
        margin: 0 auto;
    }

    p.subtitle{
        max-width: 400px;
        padding: 0 10px;
    }
    img.image-container{
        width: 180px;
        height: 180px;
        object-fit: cover;
    }
    .image-container {
        float: left;
    }

    .mid-container-center {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 0 20px;
    }
    .mid-container-items{
        margin: 0 10px;
        max-width: 400px;
    }
    .mid-container-items p {
        text-align: end;
        margin: 0;
        padding: 0;
    }

    .middle-container {
        display: flex;
        flex-direction: column;
        align-self: flex-end;
    }
    .middle-container-content-wrapper{
        display: flex;
        justify-content: space-between;
    }
    .middle-container-content {
        /* display: flex; */
    }
    p.subTwo{
        max-width: 450px;
        padding: 0 10px;
        text-align: start;
        float: left;
    }
    .middle-container-items{padding: 0 20px;}
    .image-container-two {float: right;}
    .about-us{max-width: 500px;}
    
}